:root {
	/* screen sizes */
	--desktop-size: 1440px;
	--tablet-size: 768px;
	--mobile-size: 375px;

	/* colors */
	--dark-violet: hsl(256, 26%, 20%);
	--grayish-blue: hsl(216, 30%, 68%);
	--very-dark-violet: hsl(270, 9%, 17%);
	--dark-grayish-violet: hsl(273, 4%, 51%);
	--very-light-gray: hsl(0, 0%, 98%);

	/* fonts sizes*/
	--base-font-size: 16px;

	/* font family */
	--dm-serif-display: 'https://fonts.google.com/specimen/DM+Serif+Display';
	--karla: 'https://fonts.google.com/specimen/Karla';
}

/* resets */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: var(--karla);
}

/* utility classes */
.container {
	max-width: var(--desktop-size);
	margin: auto;
}
